/* Variables */
/* Reset */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

/* Estilos Titulo */
.titulo {
  display: block;
  display: flex;
  align-items: center; }

.titulo__logo {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.titulo__texto {
  display: inline-block;
  color: #8c05f0; }

/* Estilos Nav Menu */
.menuNav {
  background: #410270;
  background: linear-gradient(126deg, #410270 0%, #6d04bd 46%, #8c05f0 100%); }

.menuNav__item {
  text-align: center;
  display: inline-block; }

.menuNav__link {
  color: white;
  padding: 1em;
  display: block;
  text-decoration: none; }

.menuNav__link:hover {
  background-color: #4f2470;
  color: white; }

/* Media Responsive navbar */
@media only screen and (max-width: 700px) {
  .titulo {
    display: relative;
    display: flex;
    align-items: center; }
  .titulo__logo {
    display: none; }
  .titulo__texto {
    display: inline-block;
    color: #8c05f0; }
  .navbar-fixed-top {
    position: relative;
    top: auto; }
  .menuCollapse {
    z-index: 3; } }

/* Footer */
.footer {
  margin-top: 40px;
  width: 100%;
  padding: 20px;
  background: #410270;
  background: linear-gradient(126deg, #410270 0%, #6d04bd 46%, #8c05f0 100%);
  color: white;
  font-size: 110%; }

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* Iconos Redes */
.social-network a.icoFacebook:hover {
  transform: scale(1.05);
  background-color: #fff; }

.social-network a.icoInstagram:hover {
  transform: scale(1.05);
  background-color: #fff; }

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i {
  color: black; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px; }

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center; }

.social-circle i {
  color: #4f2470;
  transition: all 0.8s; }

.social-network a {
  background-color: #f9f9f9; }

/* Variables */
/* ----Index---- */
/* Estilos Carousel Estrenos */
.imgEstrenoContenedor {
  max-height: 500px;
  position: relative;
  overflow: hidden; }

.estrenoDescripcion {
  text-shadow: 2px 2px 5px black; }

.imgContenedor-imagen {
  max-width: initial;
  position: relative; }

.menuCollapse {
  z-index: 3;
  background-color: white; }

/* Media Responsive carousel y navbar */
@media only screen and (max-width: 700px) {
  .imgEstrenoContenedor {
    max-height: 300px;
    position: relative;
    overflow: hidden; }
  .imgContenedor-imagen {
    max-width: initial;
    width: 100%;
    position: relative; }
  .estrenoDescripcion {
    text-shadow: 2px 2px 5px black; } }

@media only screen and (max-width: 900px) and (min-width: 720px) {
  .noticiasItem {
    padding: 0px !important;
    width: 85%; }
  .card {
    width: 85%; }
  .noticiasItem-card {
    width: 80%; } }

/* Estilos Card Noticias */
.noticiasSeccion {
  margin-bottom: 50px; }

.cardNoticias-titulo {
  padding: 5px;
  background-color: #4f2470;
  border-bottom: 6px solid;
  border-color: #ab4ef2; }

.noticiasItem {
  padding: 20px; }

.noticiasItem__imgContenedor {
  max-height: 240px;
  position: relative;
  overflow: hidden; }

.row {
  width: 100%;
  margin: 0;
  padding: 0; }

.conteiner {
  width: 100%;
  margin: 0;
  padding: 0; }

/* Variables */
/*----Peliculas---- */
.conteinerPeliculas {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 15px; }

.conteiner-item {
  margin-bottom: 25px; }

.item-pelicula {
  border-radius: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden; }

.itemPelicula-img {
  transition: transform 0.8s;
  max-height: 300px; }

.itemPelicula-img:hover {
  transform: scale(1.03); }

.itemPelicula-titulo {
  text-decoration: none; }

.itemPelicula-titulo:hover {
  text-decoration: none; }

/* Media Responsive */
@media only screen and (max-width: 900px) and (min-width: 720px) {
  .itemPelicula-img {
    transition: transform 0.8s;
    max-height: 200px; }
  .item {
    width: 80%; } }

/* Variables */
/* Variables */
/* Cursos */
.conteinerCursos {
  width: 100%; }

.conteinerCursos__item {
  padding: 1rem; }

.conteinerCursos__card {
  width: 18rem;
  border-color: #a75ae281 !important; }

.conteinerCursos__imgContenedor {
  max-height: 190px;
  position: relative;
  overflow: hidden; }

/* Media Responsive carousel y navbar */
@media only screen and (max-width: 900px) and (min-width: 720px) {
  .conteinerCursos__card {
    width: 95%; }
  .conteinerCursos__imgContenedor {
    max-height: 150px; } }

/* Variables */
/* Variables */
/* Estilos formulario */
.formContacto {
  width: 25%;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc; }

.formContacto_header {
  background-color: #8c05f0; }

.formContacto__checkbox {
  /* width: 20px; */
  border-radius: 3px;
  height: 1em;
  width: 1em;
  background-color: #eee; }

.formContacto__checkbox:checked {
  background-color: #8c05f0; }

.formContacto__select {
  width: 125px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block; }

.formContacto__Boton {
  color: white;
  background-color: #8c05f0 !important;
  border-color: #6d04bd !important; }

.formContacto__Icono {
  color: #8c05f0; }

.formContacto_notificaciones {
  margin: 0px !important;
  padding-top: 0px !important; }

/* Variables */
/*SERIES*/
