@import "_globals";

/* Cursos */
.conteinerCursos {
  width: 100%;
}

.conteinerCursos__item {
  padding: 1rem;
}

.conteinerCursos__card {
  width: 18rem;
  border-color: #a75ae281 !important;
}

.conteinerCursos__imgContenedor {
  max-height: 190px;
  position: relative;
  overflow: hidden;
}

/* Media Responsive carousel y navbar */
@media only screen and (max-width: 900px) and (min-width: 720px) {
  .conteinerCursos__card {
    width: 95%;
  }

  .conteinerCursos__imgContenedor {
    max-height: 150px;
  }
}
